﻿body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
}

nav {
    background: url("../images/logo.png") 10px 10px no-repeat;
    padding-left: 200px;
}

    nav.main-menu {
        min-height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
		/* JC */
        position: relative;
        top: -6px;
        /* end JC */
    }
    /* JC */
    nav::before {
        content: "IoT Manager";
        position: relative;
        left: -130px;
        font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
        font-size: 24px;
        line-height: 1.4285em;
        font-weight: 700;
    }
    /* end JC */

    nav .left-menu {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        /*padding-top: 15px;*/
        margin: 0;
    }

        nav .left-menu li {
            display: inline-block;
            margin: 0 1rem;
            padding-bottom: 12px;
        }

        nav .left-menu a {
            border-bottom: 4px solid transparent;
            padding: 10px 0;
        }

            nav .left-menu a.active {
                border-bottom: 4px solid #21ba45;
            }

        nav .left-menu a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: black;
        }

    nav ul.right-menu {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-top: 10px;
        margin: 0;
        text-align: right;
    }

        nav ul.right-menu li {
            display: inline-block;
            margin: 0;
            padding: 8px 1em;
            font-weight: bold;
            color: #21ba45;
            border-right: 1px solid #c0c0c0;
        }

            nav ul.right-menu li:last-child {
                border-right: none;
            }

        nav ul.right-menu a {
            text-decoration: none;
            color: #21ba45;
        }

#languages-menu, #languages-menu .ui.dropdown .menu > .item {
    text-transform: uppercase;
}

.main-column {
    max-width: 1400px;
    margin: auto;
    padding: 0 10px;
}

    .main-column.body-content {
        padding-top: 30px;
    }

header.main-header {
    padding-top: 50px;
    background: url("../images/pozadi.jpg") top center repeat;
}

    header.main-header h2 {
        margin: 0;
    }

    header.main-header h1 {
        color: white;
        display: inline-block;
        font-size: 30pt;
        padding: 0;
        margin: 0;
    }

    header.main-header .header-aggregated-values {
        padding-top: 40px;
    }

    header.main-header .left-header {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items:center;
    }

        header.main-header .list-item-detail {
            display: inline-block;
            border-radius: 5px;
            padding: 15px 15px 15px 15px;
            background: #e9e9e9;
            position: relative;
            top: 20px;
        }

            header.main-header .list-item-detail .id {
                background: url('../images/carovy_kod.png') no-repeat top center;
                height: 60px;
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                margin-bottom: 10px;
            }

                header.main-header .list-item-detail .id * {
                    background: #e9e9e9;
                    padding: 5px 5px 0px 5px;
                }

/*.drop-down-menu {
    float: right;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    padding-right: 1rem;
}

    .drop-down-menu .menu-header {
        background: white;
        min-width: 180px;
        box-shadow: 1px -1px 5px;
    }

        .drop-down-menu .menu-header.type1 {
            background: #21ba45;
        }

        .drop-down-menu .menu-header.type2 {
            background: red;
        }

        .drop-down-menu .menu-header.type3 {
            background: yellow;
        }

    .drop-down-menu .box {
        padding: 10px 20px;
        border-radius: 2px;
    }

    .drop-down-menu .menu-content {
        box-shadow: 1px -1px 5px;
        margin-top: 5px;
    }

        .drop-down-menu .menu-content .box {
            background: black;
            color: white;
        }

    .drop-down-menu .menu-header .content {
        background: white url("../images/filtr_24x24.png") top right no-repeat;
        padding-right: 40px;
    }

    .drop-down-menu .menu-content .type1 {
        background-color: #21ba45;
        color: white;
    }

    .drop-down-menu .menu-content .type2 {
        background-color: red;
        color: white;
    }

    .drop-down-menu .menu-content .type3 {
        background-color: yellow;
        color: black;
    }

    .drop-down-menu .menu-content .all {
        background-color: black;
        color: white;
    }*/

.header-aggregated-values {
    clear: both;
    text-align: center;
}

    .header-aggregated-values .value {
        display: inline;
        color: white;
        font-size: 22pt;
        font-weight: bold;
    }

    .header-aggregated-values .box {
        display: inline-block;
        text-align: center;
        min-width: 100px;
    }

    .header-aggregated-values .detail-values {
        float: right;
    }

.sub-header {
    display: block;
    padding-top: 15px;
    font-size: 18pt;
    font-weight: bold;
}


    .sub-header .detail-values {
        font-size: 10pt;
        font-weight: normal;
    }

.aggregated-counts-total {
    border-bottom: solid 5px #21ba45;
}

.aggregated-counts .type1 {
    border-bottom: solid 5px #21ba45;
}

.aggregated-counts .type2 {
    border-bottom: solid 5px red;
}

.aggregated-counts .type3 {
    border-bottom: solid 5px #fbbd08;
}

.fa.update {
    color: #fbbd08;
}

.fa.online {
    color: #21ba45;
}

.fa.offline {
    color: red;
}

/*#content .table {
    width: 100%;
}

.table .odd .checkbox {
    border-right: solid #c0c0c0 1px;
}

.table .even .checkbox {
    border-right: solid #f5f5f5 1px;
}

.table .odd .button {
    border-left: solid #c0c0c0 1px;
}

.table .even .button {
    border-left: solid #f5f5f5 1px;
}

.table td {
    padding: 8px;
}

.table .odd .row-color {
    border-bottom: solid #c0c0c0 1px;
    border-top: solid #c0c0c0 1px;
}

.table .even .row-color {
    background-color: #f5f5f5;
}

.table thead {
    text-transform: uppercase;
    font-weight: bold;
}

.table .id {
    border-bottom: solid #c0c0c0 1px;
    text-align: center;
}

.table .table-row:last-child .id {
    border-bottom: none;
}

.table .button {
    background: transparent url("../images/detail_cerny_24x24.png") 2px no-repeat;
    color: black;
    padding-left: 28px;
    border: solid 1px white;
}

.table .type1 .button {
    background: #21ba45 url("../images/detail_24x24.png") 2px no-repeat;
    color: white;
}

.table .type2 .button {
    background: red url("../images/detail_24x24.png") 2px no-repeat;
    color: white;
}

.table .type3 .button {
    background-color: yellow;
}

.table .state-text {
    padding-left: 28px;
    background-image: url("../images/zaskrtnuto_24x24.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}

.table .detail {
    background: #e9e9e9;
}

.table .wide-column {
    width: 100%;
}

.table + .footer {
    text-align: center;
    margin-top: 30px;
    border-top: solid 3px #21ba45;
}

    .table + .footer .button {
        background-color: #21ba45;
        color: white;
        display: inline-block;
        padding: 7px 20px;
    }*/

.button {
    cursor: pointer;
}

.task-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.function-joiner-icon {
    background: url('../images/kdyz_tak_icon.png') no-repeat center center;
    width: 100px;
    height: 100px;
}

.task-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-header-selector {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

    .task-header-selector .selector {
        border: gray 3px solid;
        padding: 5px;
        background: white;
    }

        .task-header-selector .selector.active {
            border: red 3px solid;
        }

.tile {
    display: inline-flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 0;
    padding: 1rem;
    flex-direction: column;
    text-align: center;
}

.multi-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

    .multi-column > * {
        margin-right: 30px;
        flex-grow: 1;
    }

        .multi-column > *:last-child {
            margin-right: 0;
        }

.property {
    margin: 10px 0;
}

label + input, label + textarea {
    display: block;
}

button {
    background: black;
    color: white;
    padding: 5px 10px;
}

.green button {
    background: #21ba45;
    color: white;
}

.red button {
    background: red;
    color: white;
}

.yellow button {
    background: yellow;
    color: black;
}

.yellow h4 {
    color: #cccc00;
}

.green h4 {
    color: #21ba45;
}

.red h4 {
    color: red;
}

.remove {
    display: flex;
    justify-content: flex-end;
}

.group, .device, .function {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

    .device::before, .function::before {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
        padding-right: 1rem;
    }

    .device::before {
        content: "\f015";
    }

    .function::before {
        content: "\f0d0";
    }

.group-items > * {
    padding-right: 1rem;
}

.menu-buttons {
    float: right;
}

    .menu-buttons button {
        font-weight: bold;
    }

.components {
    display: flex;
}


.variable {
    flex-grow: 1;
}

    .variable button.ui.button {
        width: 100%;
    }

.box.horizontal.center {
    align-items: center;
}

.ui.striped.table tbody:nth-child(2n) tr {
    background-color: rgba(0,0,50,.02);
}

.content-right {
    text-align: right;
}

.box.padding {
    padding: 0 1rem 1rem 1rem;
}

.box.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

    .box.horizontal .fill {
        flex-grow: 1;
    }

    .box.horizontal .column {
        margin: 10px;
    }

        .box.horizontal .column:first-child {
            margin-left: 0;
        }

        .box.horizontal .column:last-child {
            margin-right: 0;
        }

/*.box.horizontal.padding {
        padding: 0 1em;
    }

    .box.horizontal.top-border-space {
        border-top: 1px solid gray;
    }*/
.text-alight-right {
    text-align: right;
}

.save-menu {
    /*height: 4rem;*/
    margin-bottom: 1rem;
}

.fixed-position {
    position: fixed;
    z-index: 3;
}

label.button > input[type=file] {
    display: none;
}

.transparent-button {
    display: inline-block;
    padding: 0 0 0 1rem;
    cursor: pointer;
}

    .transparent-button:first-child {
        padding: 0;
    }

    .transparent-button.unlink:first-child {
        padding: 0 0.5rem 0 0.5rem;
        color: #E67300;
    }

h2.backlink a {
    color: black;
}

svg.link {
    stroke-width: 2px;
    pointer-events: none;
    stroke: black;
    fill: black;
}


svg.connected.color-0 {
    stroke: #5DA5DA;
    fill: #5DA5DA;
}

svg.connected.color-1 {
    stroke: #60BD68;
    fill: #60BD68;
}

svg.connected.color-2 {
    stroke: #F17CB0;
    fill: #F17CB0;
}

svg.connected.color-3 {
    stroke: #B2912F;
    fill: #B2912F;
}

svg.connected.color-4 {
    stroke: #B276B2;
    fill: #B276B2;
}

svg.connected.color-5 {
    stroke: #DECF3F;
    fill: #DECF3F;
}

svg.connected.color-6 {
    stroke: #F15854;
    fill: #F15854;
}

svg.connected.color-7 {
    stroke: #4D4D4D;
    fill: #4D4D4D;
}

svg.link-endpoint {
    border-radius: 4px;
    stroke: black;
    fill: black;
    stroke-width: 2px;
    pointer-events: none;
    background-color: white;
}

    /*svg.link-endpoint.connected {
        stroke: #E67300;
        fill: #E67300;
    }*/

.ui.table a {
    color: black;
}

.menu-buttons .ui.toggle.checkbox {
    margin-right: 1em;
}

.full-width {
    width: 100%;
}

table.tasks {
    border-collapse: collapse;
    margin-top: 2rem;
}

table.tasks td, table.tasks th {
    padding: 0.3rem 1.5rem;
}

table.tasks thead th {
    background-color: #21ba45;
    color: white;
    padding:1rem;
}

    table.tasks tfoot {
        border-top: 1px solid #ccc;
    }

    table.tasks tbody tr:last-child td {
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
    }

        table.tasks tbody tr:last-child td.empty-host {
            border-bottom: none;
        }

    table.tasks tbody tr:first-child td {
        padding-top: 1rem;
    }

    table.tasks tbody td, table.tasks tfoot td {
        border-right: 1px solid #ccc;
    }
        table.tasks tbody td:last-child, table.tasks tfoot td:last-child {
            border-right: none;
        }

.host-header{
    font-style: italic;
    margin-top: 1rem;
}

.ui.form .field > label.green {
    color: #21ba45;
}

.ui.form .field > label.label-with-toggle {
    display: flex;
    justify-content: space-between;
}

.plugicon{
    padding: 5px;
}

.field.readonly .ui.input input {
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}
/*.menu-buttons .ui.toggle.checkbox input:checked ~ label .ui.toggle.checkbox .box, .menu-buttons .ui.toggle.checkbox label {
            color: white !important;
    }*/
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
