﻿@model IoTManager.Models.LoginModel

@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@inject IViewLocalizer Localizer

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<nav class="main-menu">
    <ul class="left-menu">
        </ul>
        <ul class="right-menu">
            @if (HttpContextAccessor.HttpContext.Session.Keys.Contains("UserId"))
            {
                <li>
                    @*@{var userName = System.Text.Encoding.UTF8.GetString(usernameBytes); }
                    @userName*@
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                </li>
            }
            <li id="languages-menu">

            </li>
        </ul>
</nav>

<div>
    <header class="main-header">
        <div class="main-column">
            <h1>@Localizer["Login"]</h1>
            <div class="header-aggregated-values">
                <AggregatedCounts total={this.state.counts.active + this.state.counts.inactive} count1={this.state.counts.active} count2={this.state.counts.inactive} />
            </div>
        </div>
    </header>
    <header class="sub-header main-column">
        <div class="header-aggregated-values">
        </div>
    </header>
    <div class="container body-content main-column">
        <form method="post" class="ui form">
            @Html.ValidationSummary(true, "Login failed. Check your login details.")
            <div>
                <div class="field">
                    @Html.LabelFor(u => u.UserName)
                    <div class="editor-field">
                        @Html.TextBoxFor(u => u.UserName)
                        @Html.ValidationMessageFor(u => u.UserName)
                    </div>
                </div>
                <div class="field">
                    @*<div>Current Culture: @CultureInfo.CurrentCulture.DisplayName</div>
                        <div>Current Culture: @CultureInfo.CurrentUICulture.DisplayName</div>*@
                    @Html.LabelFor(u => u.Password)
                    <div class="editor-field">
                        @Html.PasswordFor(u => u.Password)
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>
                </div>
                @*<div class="editor-label">
                        @Html.CheckBoxFor(u => u.RememberMe)
                        @Html.LabelFor(u => u.RememberMe)
                    </div>*@
                <button class="ui button green" type="submit">@Localizer["Log In"]</button>
            </div>
        </form>
    </div>
</div>



