﻿@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoTManager</title>
    <link rel="stylesheet" href="~/static/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/static/semantic-ui/semantic.min.css" asp-append-version="true" />

    <script type="text/javascript">
        var globalLanguage = '@CultureInfo.CurrentCulture.TwoLetterISOLanguageName';
        var globalLanguageCountry = '@CultureInfo.CurrentCulture.Name';
    </script>

</head>
<body>
    

    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/dist/app.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
